<div class="smelting-container">
  <mat-select (selectionChange)="recipeSelectionChanged($event)" placeholder="Select a smelting recipe" [(ngModel)]="selectedRecipe" name="recpie">
    @for (recipe of smeltingRecipes; track recipe) {
    <mat-option [value]="recipe.value">{{recipe.label}}</mat-option>
    }
  </mat-select>
  <mat-form-field class="example-form-field">
    <mat-label>Smelting XP</mat-label>
      <input matInput placeholder="Xp" [(ngModel)]="xp">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Cooking Time</mat-label>
      <input matInput placeholder="Cooking Time" [(ngModel)]="cookingTime">
  </mat-form-field>

</div>