<div class="biome-container">
  <div class="form-fields">
    <mat-select
      (selectionChange)="biomeSelectionChanged($event)"
      placeholder="Select a biome"
      [(ngModel)]="selectedBiome"
      name="biome"
    >
      @for (biome of globals.biomes; track biome) {
        <mat-option [value]="biome.value">{{ biome.label }}</mat-option>
      }
    </mat-select>
  </div>

  <div class="ore-checkboxes">
    @for (ore of globals.oreGeneration; track ore.value) {
      <mat-checkbox
        [(ngModel)]="oreChecks[ore.value]"
        (ngModelChange)="updateBiomeFeatures()"
      >
        {{ ore.label }}
      </mat-checkbox>
    }
  </div>
  <button (click)="save()" matButton="filled">Save Recipe Into Datapack</button>
</div>