<h2>Welcome to this rudimentary Minecraft Rebalance Datapack generator!</h2>
<p>This site allows you to customize ore spawn rates, height ranges, as well as which biomes they spawn in.</p>
<p>Tweak tool recipes and change what those tool can mine and how well.</p>
<p>You can also balance the game further by adjusting the smelting xp gain of different ores.</p>

<div class="button-container">
    <button class="add-btn" (click)="buildAndDownloadDatapackZip()" matButton="filled">
        Save datapack as zip
    </button>

    <button class="add-btn" (click)="exportAndDownloadDatapack()" matButton="filled">
        Export datapack as json
    </button>

    <button class="add-btn" (click)="fileInput.click()" matButton="filled">
        Import datapack from json
    </button>

    <input
        #fileInput
        type="file"
        accept=".json,application/json"
        hidden
        (change)="importDatapackFromJson($event)"
    />

    <button class="add-btn" (click)="clearLocalStorage()" matButton="filled">
        Reset Datapack
    </button>
</div>