<div class="ore-container">
  <div class="form-fields">
    <mat-select
      (selectionChange)="oreSelectionChanged($event)"
      placeholder="Select an ore feature"
      [(ngModel)]="selectedOre"
      name="ore"
    >
      @for (ore of globals.oreGeneration; track ore) {
        <mat-option [value]="ore.value">{{ ore.label }}</mat-option>
      }
    </mat-select>

    <form [formGroup]="filtersForm">
      @if (isVisible('size')) {
        <mat-form-field class="form-field full-width">
          <mat-label>Ore size</mat-label>
          <input formControlName="size" matInput />
        </mat-form-field>
      }

      @if (isVisible('discardChanceOnAirExposure')) {
        <mat-form-field class="form-field full-width">
          <mat-label>Count</mat-label>
          <input formControlName="discardChanceOnAirExposure" matInput />
        </mat-form-field>
      }
    </form>

    <button (click)="save()" matButton="filled">Save Recipe Into Datapack</button>
  </div>
</div>