
@use "./styles/green";

html, body { height: 100%; }
body { margin: 0; font-family: 'Minecraft', Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/fonts/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/fonts/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}